<div class="f-container">
  <div class="f-wrapper">
    <form class="form"  (input)='clearErrors()'>
      <input
      type="email"
      name="reset-password-email"
      id="reset-password-email"
      [(ngModel)]="email"
      >
      <input
      type="submit"
      value="Sprawdź"
      (click)="checkEmail()"
      >
    </form>
    <div class='form' *ngIf="isEmailTrue">
      <button (click)="changePassword()">Zmień hasło</button>
    </div>
    <div class="error-box" *ngIf="invalidEmail">
      <p>Nie znaleziono w systemie</p>
    </div>

  </div>
</div>
