@import '../../../../styles.scss';
.social-media-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10rem 5rem;

  strong {
    font-weight: normal;
    text-decoration: underline;
    opacity: 1;
  }
  a:hover {
    opacity: .7;
  }
}
