@import '../../../../styles.scss';
.users-wrapper {
  margin: 2rem 0 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.users-column {
  border: 1px solid map-get($colors, c_black);

}

.user-section {
  font-size: map-get($fonts_size, small);
  padding: 1rem;
  border-bottom: .5px solid map-get($colors, c_black);
}

