<div class="users-container">
  <div class="reset-button" *ngIf="showArrow"><a routerLink="/admin"><img src="../../../assets/img/arrow-left.svg" alt="Return" title='Return'></a></div>
  <div class="users-wrapper">
    <div class="users-column" id="column-one">
      <div class="user-section">
        <h6>Email użytkownika</h6>
      </div>
      <div class="user-section" *ngFor="let data of data">
        <span>{{data.Email}}</span>
      </div>
    </div>
    <div class="users-column" id="column-two">
      <div class="user-section">
        <h6>Data utworzenia</h6>
      </div>
      <div class="user-section" *ngFor="let data of data">
        <span>{{data.CreatedAt}}</span>
      </div>
    </div>
    <div class="users-column" id="column-three">
      <div class="user-section">
        <h6>ID sesji użytkownika</h6>
      </div>
      <div class="user-section" *ngFor="let data of data">
        <span>{{data.uid}}</span>
      </div>
    </div>
  </div>
</div>
