@import '../../../../styles.scss';
.navigation-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  gap: 2rem;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  .nav-list-item {
    margin: 0 1rem;
    opacity: 1;
    transition: all .3s ease-in-out;
    &:hover{
      opacity: .8;
      transform: rotate(-4deg);

      &:first-child{
        transform: rotate(4deg);
      }
    }
  }
}

.nav-img {
  width: 150%;
}
.account-options {
  display: none;
  position: absolute;
  max-width: 170px;
  background-color: map-get($colors, c_navigation);
  padding: 1rem;
  z-index: 1;
  overflow: hidden;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 3px 3px 8px map-get($colors, c_black_with_opacity);
  transform: translateX(-10%);
}
.account:hover .account-options {
  display: block;
}
.account-option-list {
  width: 150%;
  margin: .5rem 1.5rem .5rem 0;
  opacity: 1;
  padding-bottom: 0.4rem;

  &:hover {
    opacity: .8;
  }

}
.guest-name-box {
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid map-get($colors, c_black_with_opacity);

  p{
    padding-left: 100%;
    animation: guest 6s linear infinite;
    &:hover{
      opacity: .8;
      animation-play-state: paused;
    }
  }

  @keyframes guest {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-150%, 0); }
    100% { transform: translate(-300%, 0); }
  }
}
.guest-name{
  font-size: map-get($fonts_size, small);
}

@media screen and (max-width: 1120px) {
  .account-options {
    transform: translateX(-30%);
  }
}

@media screen and (max-width: 870px) {
  .navigation-menu {
    gap: 1rem;
  }
  .logo {
    display: none;
  }
  .account-options {
    border-radius: 25px 25px 25px 25px;
    transform: translateX(-40%);
  }
}
@media screen and (max-width: 600px) {
  .account-options {
    transform: translateX(-60%);
  }
}
@media screen and (max-width: 450px) {
  .account-options {
    border-radius: 25px 10px 25px 25px;
    transform: translateX(-80%);
  }
}
@media screen and (max-width: 370px) {
  .account-options {
    border-radius: 25px 10px 25px 25px;
    transform: translateX(-100%);
  }
}

