@import '../../../../styles.scss';

.navigation-menu{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  img {
    width: 3rem;
    margin: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

}
.option-list {
  display: flex;
  flex-direction: column;
  background: map-get($colors, c_navigation);
  padding: 1rem;
  min-height: 90vh;
}
.list {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 1rem;
}
.nav-list {
  display: flex;
  flex-direction: column;
}
.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: map-get($fonts_size, normal);

  img{
    width: 1.4rem;
  }
}

.guest-name {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: .8rem;
  border-bottom: 1px solid map-get($colors, c_black_with_opacity);
  font-size: map-get($fonts_size, small);

  p{
    font-size: map-get($fonts_size, normal);
    padding-left: 110%;
    animation: guest 6s linear infinite;
    &:hover{
      opacity: .8;
    }
  }

  @keyframes guest {
    0% { transform: translate(0%, 0); }
    50% { transform: translate(-110%, 0); }
    100% { transform: translate(-220%, 0); }
  }
}

.hidden {
  display: none;
  overflow: hidden;
  animation: animation-off .4s linear forwards;
}

@keyframes animation-off {
  0% {
    transform: translate(0, 0);
    display: block;
    width: 288px;
  }
  100% {
    transform: translate(-100%, 0);
    display: block;
    width: 0;
  }
}
.active {
  display: block;
  width: 288px;
  height: 100%;
  animation: animation-on .4s linear;
}
@keyframes animation-on {
  0% { transform: translate(-100%, 0); }
  100% { transform: translate(0, 0); }
}

