<div class="navigation-menu">
  <div class="logo">
    <h1><a routerLink='/'>Blog</a></h1>
  </div>
  <div class="nav-content">
    <ul class="nav-list">
      <li class="nav-list-item" id='home-page'><a routerLink='/'>Strona Główna</a></li>
      <li class="nav-list-item" id='about-us-page'><a routerLink='/about-us'>O nas</a></li>
    </ul>
  </div>
  <div class="account">
    <img src="../../../../assets/img/person-circle.svg" alt="Account" id="account-trigger" class='nav-img'>
    <ul class="account-options">
      <div class="guest-name-box">
        <p class='guest-name'>{{userEmail}}</p>
      </div>
      <div class="option-list" *ngIf="isGuest">
        <li class="account-option-list"><a routerLink='/account/login'>Zaloguj się</a></li>
        <li class="account-option-list"><a routerLink='/account/signup'>Zarejestruj się</a></li>
      </div>
      <div class="option-list-user" *ngIf="isGuest === false">
        <li class="account-option-list"><a routerLink='/dashboard'>Konto</a></li>
        <li class="account-option-list" *ngIf='isAdmin === true || isWriter === true'><a routerLink='/admin'>Admin</a></li>
        <li class="account-option-list"><a (click)="logoutButton()">Wyloguj się</a></li>
      </div>
    </ul>
  </div>
</div>
