@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=PT+Sans&family=Roboto:wght@400;500&display=swap');

$colors: (
  // Standars colors
  // c - color; b - button
  c_black: #000000,
  c_white: #ffffff,
  c_red: #f00,
  c_blue: #00f,
  c_cream_white: #f6f6f6,
  c_white_bit-red: #edd2cf,

  // with opacity
  c_black_with_opacity: #000000d9,
  c_white_with_opacity: #ffffffd9,

  c_navigation: #fafafa,
  c_navigation_with_opacity: #fafafa9e,

  b_pink: #ff3478,
);
$fonts_size: (
  tiny: 12px,
  big-tiny: 14px,
  small: 16px,
  normal: 20px,
  big: 24px,
  header-tiny: 22px,
  header-small: 24px,
  header-normal: 28px,
);

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ------------- Classes for styling other components -------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------

.f-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-wrapper {
  width: 80%;
  margin: 7rem auto;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 24px map-get($colors, c_white_bit-red);
  background-color: map-get($colors, c_white);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: map-get($colors, c_black);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: map-get($fonts_size, normal);
}
h1, h2, h3, h4, h5, h6 {
  font-size: map-get($fonts-size, header-normal);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
a{
  text-decoration: none;
  cursor: pointer;
}
ul, ol, li {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  body {
    font-size: map-get($fonts_size, small);
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: map-get($fonts-size, header-small);
  }
  p{
    font-size: map-get($fonts_size, small);
  }
}
@media screen and (max-width: 450px) {
  p{
    font-size: map-get($fonts_size, big-tiny);
  }
}
