@import '../styles.scss';

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: map-get($colors, c_cream_white);
}
.navigation {
  width: 100%;
  height: 10vh;
  margin: 0 0 .5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: map-get($colors, c_navigation);
  box-shadow: 3px 3px 8px map-get($colors, c_black_with_opacity)
}
.blogs-box {
  min-height: 80vh;
}
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  background-color: map-get($colors, c_white);
  box-shadow: 3px 3px 8px map-get($colors, c_black_with_opacity);

  ul li{
    margin: 1rem;
  }
}
