@import '../../../../styles.scss';
.regulations-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.regulations-article {
  width: 90%;
  margin: 1rem;
  text-align: justify;
}
.regulations-section {
  width: 100%;
  margin: 1rem 0;
}
h2, h3, h4 {
  text-align: center;
  text-transform: uppercase;
}
