@import '../../styles.scss';
.navigation-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  .nav-list-item {
    margin: 0 1rem;
    opacity: 1;
    transition: all .3s ease-in-out;
    &:hover{
      opacity: .8;
      transform: rotate(-4deg);

      &:first-child{
        transform: rotate(4deg);
      }
    }
  }
}

.account-options {
  display: none;
  position: absolute;
  background-color: map-get($colors, c_white);
  padding: 1rem;
  z-index: 1;
  overflow: hidden;
  border-radius: -10px;
  box-shadow: 3px 3px 8px map-get($colors, c-black-with-opacity);
  transform: translateX(-15px);
}
.account:hover .account-options {
  display: block;
}

#account-trigger {
  cursor: pointer;
}