<div class="login-container">
  <div class="form-box">
    <form  class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" (input)='clearErrors()'>
      <h2>Zaloguj się</h2>

      <!-- ############## EMAIL ############## -->

      <input
      type="email"
      name="email"
      id="login-email"
      placeholder="Podaj Email"
      formControlName="email"
      >
      <!-- If there is no email -->
      <div class="error-box"  *ngIf="submitted && email?.errors?.['required']">
        Wymagany Email
      </div>
      <!-- If the email is invalid-->
      <div class="error-box"  *ngIf="email?.errors?.['invalidEmail']">
        Błędny Email
      </div>

      <!-- ############## PASSWORD ############## -->

      <input
      type="password"
      name="password"
      id="login-password"
      placeholder="Podaj Hasło"
      formControlName="password"
      >
      <!-- If there is no password -->
      <div class="error-box"  *ngIf="submitted && password?.errors?.['required']">
        Wymagane Hasło
      </div>
      <!-- If password includes an invalid word-->
      <div class="error-box" *ngIf="password?.errors?.['invalidPassword']">
        Hasło nie może zawierać niektórych znaków
      </div>
      <!-- If password doesn's includes 8 word -->
      <div class="error-box" *ngIf="submitted && password?.errors?.['noLetters']">
        Hasło musi mieć min. 8 znaków
      </div>

      <!-- Invalid data  -->
      <div class="error-box" *ngIf="submitted && invalidEmailOrPassword">
        Błędy Email lub Hasło
      </div>

      <input type="submit" value='Zaloguj się' id="submit-button" [disabled]="loginForm.invalid">
    </form>
  </div>
</div>
